html,
body,
* {
  background-color: green;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  animation: 4s ease-out 4s 1 intro;
}
@keyframes intro {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.Boxes {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-around;
}
.BoxDesign {
  text-align: center;
  position: relative;
  object-fit: cover;
  width: 32%;
  width: fit-content;
  box-shadow: 0 0 0.5rem black;
  color: pink;
  position: relative;
}
.BoxDesign img {
  position: relative;
  width: 100%;
  object-fit: cover;
}
h1 {
  text-align: center;
}
#Hair9:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}
#Hair8:hover {
  transform: rotate(180deg);
  transition-duration: 1s;
}
#Hair7:hover {
  transform: skew(30deg);
  transition-duration: 0.3s;
}
#Hair6:hover {
  transform: translateY(-30px);
  transition-duration: 0.3s;
}
#Hair4:hover {
  transform: translateX(100px);
  transition-duration: 0.3s;
}
