html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Boxes {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-around;
}
.BoxDesign {
  text-align: center;
  position: relative;
  object-fit: cover;
  width: 32%;
  width: fit-content;
  box-shadow: 0 0 0.5rem black;
}
.BoxDesign img {
  position: relative;
  width: 100%;
  object-fit: cover;
}
h1 {
  text-align: center;
}
